<html>

<head>
	<style type="text/css">
	/*h1 {direction: rtl;}*/
	</style>
</head>

<body style="direction: rtl">

<p style="margin-top:10px; text-align: right;direction: rtl;">
	شىنخۇا ئاگنىتلىقى بۈگۈن شىنجاڭ تەنتەربىيە ئىشخانىسىدىن ئىگىلىنىشىچە، جۇڭگو A دەرىجىلىكلەر پۇتبول كۇلۇبى خۇبېي خۇاكەير بەلكىم شىنجاڭغا كېلىپ مۇشۇ يەردىكى تۇنجى كەسپىي پۇتبول كۇلۇبى بولۇپ قالغۇسى. شىنجاڭ تەنتەربىيە ئىدارىسى پارتكوم شۇجىسى لىگۇاڭمىڭ مۇخبىرغا مۇنداق دېدى : گەرچە تېخى رەسمىي توختام تۈزۈلمىگەن بولسىمۇ، ئىككى تەرەپ ئاساسىي جەھەتتىن بىردەكلىككە كېلىپ بولدى، ھازىر كونكىرت ئىشلار توغرىسىدا مۇھاكىمە قىلىنىۋاتىدۇ.
</p>


<p style="margin-top:10px;padding:5px 20px; background:#d63717; color:#FFF; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-align:center;">گېزىت ئۇندىدرا سالونى 2014</p>

</body>
</html>